$duration: 1s;
// fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}


// fade-form-from-top
.fade-form-from-top-enter-active {
  transform: translateY(0%);
  transition: transform $duration ease;
}
.fade-form-from-top-enter {
  transform: translateY(-100%);
}
.main-application.fade-form-from-top-entering {
  .nav-brand {
    opacity: 0 !important;
  }
}


// fade middle to top
.fade-middle-to-top-leave-active {
  opacity: 0;
  transition: opacity $duration ease;
}
.fade-middle-to-top-enter-active{
  transition: height $duration ease;
}

// fade middle to bottom
.main-application.middle-to-bottom-entering{
  .main-visualization-wrapper {
    animation: partial-translate-up $duration*2 ease-out;
  }
}
.middle-to-bottom-enter {
  min-height: 100vh; // the glyphs are still loading
}
.middle-to-bottom-enter-active {
  animation: translate-up-from-bottom $duration*2 ease-out;
  min-height: 100vh; // the glyphs are still loading
}



// Bottom to middle
.main-application.bottom-to-middle-leaving{
  .main-visualization-wrapper {
    animation: partial-translate-down $duration ease;
  }
}
.bottom-to-middle-leave-active {
  animation: translate-down-to-bottom $duration ease;
}



// top to middle
.main-application.top-to-middle-entering {
  .main-visualization-wrapper {
    height: 100vh;
  }
}
.top-to-middle-leave-active {
  opacity: 0;
  transition: opacity $duration ease;
}
.top-to-middle-enter {
  opacity: 0;
}
.top-to-middle-enter-active {
  transition: opacity $duration ease;
}



// Bottom to top
.main-application.bottom-to-top-leaving{
  .main-visualization-wrapper {
    animation: partial-translate-down $duration ease-in;
  }
}
.bottom-to-top-leave-active {
  width: 100%;
  animation: translate-down-to-bottom $duration ease-in;
}
.bottom-to-top-enter {
  opacity: 0;
}
.bottom-to-top-enter-active {
  transition: opacity $duration ease;
}



// Top to bottom
.main-application.top-to-bottom-leaving{
  .main-visualization-wrapper {
    height: 100vh !important;
    transition: height $duration linear;
  }
}
.main-application.top-to-bottom-entering{
  .main-visualization-wrapper {
    height: 100vh !important;
    animation: partial-translate-up $duration ease-out;
  }
}
.top-to-bottom-leave-active {
  height: 0 !important;
  transition: height $duration*0.75 linear;
  animation: translate-up $duration*0.75 linear;
}
.top-to-bottom-enter-active {
  animation: translate-up-from-bottom $duration ease-out;
  min-height: 100vh; // the glyphs are still loading
}

// animations
@keyframes translate-down-from-top {
  0% {
    transform: translate3d(0, -100vh, 0)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}
@keyframes translate-down-to-bottom {
  0% {
    padding-top: 50vh;
  }
  100% {
    padding-top: 120vh;
  }
}
@keyframes translate-up {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(0, -100vh, 0)
  }
}
@keyframes partial-translate-up { // earth
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
  }
}
@keyframes partial-translate-down {
  0% {
    top: -50vh;
  }
  100% {
    top: 0;
  }
}
@keyframes translate-up-from-bottom { // archive
  0% {
    opacity: 0;
    padding-top: 100vh;
  }
  100% {
    opacity: 1;
    padding-top: 50vh;
  }
}
@keyframes fadeHeight {
  0% {
    max-height: 80px;
    opacity: 1;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes flip-up-to-top {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}
@keyframes flip-up-from-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}