article, .page-modal {

  position: relative;
  padding: $marginBase*3 0 $marginBase;
  max-width: 36rem;
  margin: 0 auto;
  @include medium_down {
    max-width: 90%;
    padding-top: 0;
  }
  .entry-subtitle {
    margin-bottom: 5rem;
    @include medium_up {
      margin-left: -$marginBase*2;
      margin-right: -$marginBase*2;
    }
    small{
      font-size: .5em;
      display: block;
      margin-top: 2.4em;
    }
  }
  sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
  }

  sup {
    /* Move the superscripted text up */
    top: -0.5em;
  }

  sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom: -0.25em;
  }
  .entry-body {
    p {
      font-size: 1.3em;
      line-height: 1.5;
    }
    figure {
      position: relative;
      margin: 2em 0 0 0;
      .img-wrapper {
        margin-bottom: 20px;
        text-align: center;
      }
      @include medium_up {
        margin: 2em -3rem;
        .img-wrapper {
          position: relative;
          &:after {
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: black;
            opacity: .3;
            z-index: 1;
            transition: opacity .5s ease;
          }
          &:hover:after {
            opacity: 0;
          }
        }
      }
    }
    .figcaption {
      @include small_down {
        max-width: 266px;
        margin: 0 auto;
      }
      @include medium_down {
        max-width: 671px;
        margin: 0 auto;
      }
      color: $gray;
      font-size: .9em;
      a { color: $gray;
        border-color: $gray
      }
      @include medium_down {
        padding-bottom: 3rem;
      }
    }
    img {
      max-width: 100%;
    }
    .cit {
      padding: 0 2em;
    }
  }
  .entry-subtitle small{
    font-size: .5em;
    display: block;
    margin-top: 2.4em;
  }
  .entry-body {
    font-size: 1rem;
    h4 {
      color: $gray;
      text-transform: uppercase;
      font-size: 1.1em;
      margin-top: 3em;
    }
    ul {
      padding-left: 2em;
      font-size: 1.1em;
      li {
        margin-top: 1em;
      }
      span {
        @extend %colfax_bolder;
        font-weight: 700;
      }
    }
    a {
      text-transform: unset;
      color: #fff;
      border-bottom: 1px solid #FFF;
      transition: border-bottom-color .2s ease, color .2s ease;
      &:hover {
        color: $gray;
        text-decoration: none;
        border-bottom: 1px solid $bodyColor;
      }
    }
  }
}
.page-modal {
  padding: 0;
  .modal-content {
    //height: 100%;
  }
  max-width: unset;
  @include medium_down {
    .modal-dialog {
      height: 100%;
    }
  }
  .modal-body {
    //max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    overflow: scroll;
  }
  .entry-body {
    @include medium_down {
      padding-top: 30px;
    }
  }
}
.modal-content {
  border: 0;
}