.gallery {
  .stats {
    display: flex;
    flex-flow: row wrap;
    div {
      width: 50%;
      text-align: center;
      .h2 {
        margin-left: auto;
        margin-right: auto;
      }
      @include medium_down {
        width: 100%;
      }
    }
  }
  .path-wrapper {
    margin-top: 4rem;
  }
  .gallery-item {
    height: 240px;
    overflow: hidden;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    @include medium_down {
      width: 50%;
    }
    .gallery-item-inside {
      min-width: 85%;
      padding: 1rem 1rem 1.5rem 1rem;
      border: 20px solid black;
      border-top: 0;
      box-sizing: content-box;
      background-color: $bodyColor;
      transition: background-color .3s ease, border-color .3s ease;
    }
    .info {
      .aer-code {
        margin-top: 0;
        font-size: 1em;
      }
      .date-created {
        font-size: .8em;
      }
      .additional-info {
        text-align: left;
        margin-top: 1.5rem;
        transition: opacity .2s ease;
        opacity: 0;
        font-size: .7em;
      }
      strong {
        @extend %colfax_med;
      }
    }
    img {
      width: 75%;
      height: auto;
      margin-bottom: 1.2rem;
    }
    &:hover {
      overflow: visible;
      z-index: 1;
      .gallery-item-inside {
        background-color: $lightBlack;
        border-color: $lightBlack;
      }
      .additional-info {
        opacity: 1;
      }
    }
  }
}
