

body {
  background-color: $bodyColor;
  color: $textColor;
}

// buttons
.btn {
  font-size: 0.9em;
  padding: 0.3em 1.6em;
  text-transform: uppercase;
  margin-top: 1em;

  &.btn-primary {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;

    &:not(:disabled):hover, &:not(:disabled):active {
      background-color: #FFF;
      color: $bodyColor;
    }
  }
}

.main-content {
  h1, h2, h3 {
    text-align: center;
  }
  margin: $marginBase auto;
}
article {
  max-width: 30rem;
  margin: 0 auto;
}
