@include medium_down {
  html {
    overflow: hidden;
  }
  body {
    overflow: scroll;
  }
  html, body,
  .main-application,
  .site-content,
  .main-visualization-wrapper {
    width: 100%;
    height: 100%;
    //display: block;
    //box-sizing: border-box;
  }
  .main-visualization-wrapper {
    // height: 100vh;
  }
}
html, body {
  height: 100%;
  width: 100%;
}
.main-visualization-wrapper {
  width: 100%;
}


body {
  background-color: $bodyColor;
  color: $textColor;
  top: 0;
  position: relative;
  margin: 0;
  padding: 0;

  &.no-scroll {
    //overflow: hidden;
  }

  .main-application {
    .main-content.over {
      position: absolute;
      width: 100%;
    }
    &.choosing-destination {
      .main-content.over {
        z-index: 15;
      }
    }
  }
  &.flight-simulator {
    .main-application {
      &.choosing-destination {
        .main-content.over {
          //position: relative;
        }
        @include medium_down {
          .router-view {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding-top: 60px;
          }
        }
        @media screen and (max-height: 570px){
          .router-view {
            padding-top: 40px;
          }
        }
      }
    }
    .site-header {
      @include medium_down {
        background: transparent;
      }
    }
  }
  .cover {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 10;
    &.hidden {
      display: none;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &.home {
    .link-to-flight-sim {
      display: none;
    }
  }
}

body.flight-simulator .main-application:not(.choosing-destination){
  .cover {display: none}
}




// buttons
.btn {
  @extend %colfax_base;
  font-size: 0.9em;
  padding: 6px 30px 5px;
  text-transform: uppercase;
  margin-top: 1.5em;
  @include medium_down {
    padding: .5em 1.6em;
  }
  &.btn-primary {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;

    &:not(:disabled):hover, &:not(:disabled):active {
      background-color: #FFF;
      color: $bodyColor;
    }
  }
}


.main-content {
  h1, h2, h3 {
    text-align: center;
  }
}
body {
  &.box-open {
    overflow: hidden;
  }
  &.upper-content {
    .router-view {
      @include medium_down {
        margin-top: calc(80px + #{$marginMobile}); // header height + margin
        z-index: 9;
        position: relative;
      }
    }
  }
}

form {
  .form-control {
    margin-bottom: 1rem;
    border-radius: 0;
    border-color: $gray;
    &::placeholder {
      color: $lightGray !important;
    }
  }
}

.site-content {
  &.--bottom {
    .router-view .main-content{
      padding-top: 50vh;
    }
  }
  .main-visualization-wrapper {
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: flex;
    &.--small {
      height: 30%;
      z-index: 8;
      @include up($xlarge) {
        height: 45%;
      }
    }
    &.--bottom {
      //align-items: flex-end;
      top: -50%;
    }
    @include medium_down {
      height: 100%;
    }
  }
}



/**
 *  Modals
 */

// general
body.modal-open {
  .main-content .over {
    z-index: 0;
  }
}
.modal-backdrop.show {
  opacity: .8;
}
.modal-header {
  color: #000;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding: 2rem $marginBase;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .modal-title {
    @extend .h2;
    @extend %colfax_bold;
    margin: 0;
  }
  .close {
    padding: 0;
    margin: auto 0 auto auto;
  }
}
.modal-content {
  display: block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-dialog {
  @include small_down {
    margin: 0;
  }
}
.modal-body {
  background-color: $lightBlack;
}
// modal small
.modal-sm {
  max-width: 420px;
  .modal-header {
    padding: 2rem $marginBase/2;
  }
  .modal-body {
    padding: $marginBase/2;
  }
  @include medium_down{
      height: 100%;
    .modal-content {
      height: 100%;
      border: none;
      display: flex;
      flex-flow: column;
      .modal-body {
        flex: 1 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
      }
      .modal-header {
        flex: 0 0 auto;
      }
    }
  }
}
// modal medium

// modal large

.modal-lg {
  .modal-body {
    max-height: 690px;
    overflow: scroll;
  }
  //height: calc(100% - (1.75rem * 2));
  @include down($xlarge) {
    //margin: 0 auto;
    //height: 100%;
    .modal-content {
      height: 100%;
      background-color: $lightBlack;
      display: flex;
    }
    .modal-body {
      flex: 2 1 auto;
    }
    .modal-header {
      flex: 0 0 auto;
    }
  }
  .modal-body {
    padding: $marginBase;
    @include small_down {
      padding:$marginItem;
    }
  }
  .modal-header {
    @include small_down {
      padding: .8rem $marginMobile;
    }
  }
}

// box modal
.--box {
  .modal-header {
    justify-content: center;
    .close {
      position: absolute;
      background-color: $lightBlack;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      opacity: 1;
      i {
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-size: 50%;
      }
      @include medium_up {
        right: $marginBase/2;
        top: -12px;
      }
      @include medium_down {
        position: relative;
      }
    }
  }
}

.shadowed {
  // filter: drop-shadow(0 0 30px rgba(0,0,0,0.5));
  box-shadow: 0 0 30px 1px rgba(0,0,0,.5); // because of a bug in safari
}

div.dg-main-content {
  @extend .modal-body;
  background-color: #1e1e1e;
}
button.dg-btn--ok,
button.dg-btn--cancel {
  @extend .btn;
  @extend .btn-primary;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}
div.dg-content-body {
  border-bottom: 1px solid $gray;
}