.fp {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  vertical-align: middle;
  min-width: 15px;
  min-height: 15px;
}
.fp-info {
  background-image: url("assets/icons/ico-info.svg");
}
.fp-instructions {
  background-image: url("assets/icons/instructions.svg");
}
.fp-menu {
  background-image: url("assets/icons/ico-menu.svg");
  background-size: contain;
  width: 1.8em;
}
.fp-close {
  background-image: url("assets/icons/ico-close.svg");
}
.fp-close-w {
  background-image: url("assets/icons/ico-close-w.svg");
}
.fp-caret-right {
  background-image: url("assets/icons/ico-caret-right.svg");
}
.fp-caret-down {
  background-image: url("assets/icons/arrow_down.svg");
}
.fp-winds-on {
  background-image: url("assets/icons/winds.svg");
}
.fp-winds-en {
  background-image: url("assets/icons/winds_enhance.svg");
}
.fp-no-winds {
  background-image: url("assets/icons/winds_off.svg");
}
.fp-camera {
  background-image: url("assets/icons/ico-camera.svg");
}
.fp-pause {
  background-image: url("assets/icons/pause.svg");
  background-size: 60%;
}
.fp-play {
  background-image: url("assets/icons/play.svg");
}
.fp-restart {
  background-image: url("assets/icons/ico-replay.svg");
  background-size: 34px;
  width: 32px;
}
.fp-restart-w {
  background-image: url("assets/icons/ico-replay-w.svg");
  background-size: 34px;
  width: 32px;
}
.fp-up {
  background-image: url("assets/icons/ico-triangle.svg");
  transform: rotate(180deg);
}
.fp-down {
  background-image: url("assets/icons/ico-triangle.svg");
}
.fp-next-down {
  background-image: url("assets/icons/arrow_down.svg");
}
.fp-hand {
  background-image: url("assets/icons/ico-hand.svg");
}
.fp-zoom {
  background-image: url("assets/icons/ico-zoom.svg");
}
.fp-facebook {
  background-image: url("assets/icons/facebook.svg");
}
.fp-mail {
  background-image: url("assets/icons/mail.svg");
}
.fp-twitter {
  background-image: url("assets/icons/twitter.svg");
}
.fp-google {
  background-image: url("assets/icons/google+.svg");
}
.fp-explorer {
  width: 1.5em;
  background-image: url("assets/icons/ico-explorer.svg");
}
.fp-recenter {
  background-image: url("assets/icons/recentre.svg");
}
.fp-download {
  background-image: url("assets/icons/download.svg");
}
.fp-scroll {
  position: relative;
  display: block;
  width: 20px;
  height: 35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.fp-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  left: 50%;
  background: #fff;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: fpscroll;
}
.fp-departure {
  background-image: url("assets/icons/departure.svg");
}
.fp-destination {
  background-image: url("assets/icons/destination.svg");
}
@keyframes fpscroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

