@font-face {
  font-family: "Colfax-Bold";
  src: url("/static/fonts/Colfax/Colfax-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Colfax-Medium";
  src: url("/static/fonts/Colfax/Colfax-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Colfax-Regular";
  src: url("/static/fonts/Colfax/Colfax-Regular.ttf") format("truetype");
}



html {
  font-size: 16px;
  @include medium_down {
    font-size: 14px
  }
}
body {
  @extend %colfax_reg;
  font-size: 1em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  @extend %colfax_med;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}
h1, .h1 {
  margin-top: 0;
  font-size: 3.157em;
}
h2, .h2 {
  font-size: 2.369em;
}
h3, .h3 {
  font-size: 1.777em;
}
h4, .h4 {
  font-size: 1.333em;
}
.small {
  font-size: .75em; // 12px
}
p {
  font-size: 1em;
}
p + p {
  margin-bottom: 1.3em;
}
a, a:visited, a:hover {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}