@font-face {
  font-family: "Colfax-Medium";
  src: url("/static/fonts/Colfax/ColfaxWebMedium.woff") format("woff"),
       url("/static/fonts/Colfax/ColfaxWebMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Colfax-Regular";
  src: url("/static/fonts/Colfax/ColfaxWebRegular.woff") format("woff");
}
@font-face {
  font-family: "Colfax-Light";
  src: url("/static/fonts/Colfax/ColfaxWebLight.woff") format("woff"),
       url("/static/fonts/Colfax/ColfaxWebLight.woff2") format("woff2");
}


html {
  font-size: 16px;
  @include medium_down {
    font-size: 14px
  }
}
body {
  @extend %colfax_base;
  font-size: 1em;
  line-height: 1.45;
  font-variant-caps: normal;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

// http://type-scale.com/ A visual Type Scale - perfect fourth
h1, .h1 {
  margin-top: 0;
  font-size: 3.157em; // 50
  @include medium_down {
    font-size: 2.441em;
  }
}
h2, .h2 {
  font-size: 2.369em; // 38
  @include medium_down {
    font-size: 1.953em;
  }
}
h3, .h3 {
  font-size: 1.777em; // 28
  margin-bottom: 1.414em;
  @include medium_down {
    font-size: 1.563em;
  }
}
h4, .h4 {
  font-size: 1.333em; // 21
  @include medium_down {
    font-size: 1.25em;
  }
}
small, .font-small {
  font-size: .75em; // 12px
  @include medium_down {
    font-size: .8em;
  }
}
b, strong {
  @extend %colfax_bold;
}
p {
  font-size: 1em;
}
p + p {
  margin-top: 1.3em;
}
a, a:visited, a:hover {
  color: #fff;
}
a {
  text-decoration: underline;
  text-transform: uppercase;
  transition: color .3s ease;
  .lowercase {
    text-transform: lowercase;
  }
}