p {
  margin-top: 1em;
}
.btn {
  font-size: 0.9em;
  padding: 0.3em 1.6em;
  text-transform: uppercase;
}
.btn-primary {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}
a, a:visited {
  color: #fff;
  text-transform: uppercase;
}