/* BreakPoints */
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
$xsmall: 320px;

/* colors */
$primary: #4A90E2;
$bodyColor: #000;
$textColor: #fff;
$gray: rgba(255, 255, 255, 0.5);
$lightGray: rgba(255, 255, 255, 0.2);
$lightBlack: #1e1e1e;

$marginBase: 3.125rem; // 50px
$marginMobile: 2.144rem; // 30px in mobile when include medium down
$itemWidth: 64px;
$marginItem: .65rem;
$correction: -.75rem;

/* static assets paths */
$asset-base-path: '../../../static/' !default;
$img-base-path: '../../../static/img/' !default;

/// Asset URL builder
/// @access private
/// @param {String} $type - Asset type, matching folder name
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the asset
@function asset($type, $file) {
  @return url($asset-base-path + '/' + $type + '/' + $file);
}

/// Image asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the image
/// @require {function} asset
@function image($file) {
  @return asset('img', $file);
}

// fonts mixins
%colfax_base {
  font-family: "Colfax-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
}
%colfax_bold {
  font-family: "Colfax-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal !important;
  font-style: normal ;
}

/* Media Query Mixins */
@mixin up($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin down($breakpoint) {
  @media screen and (max-width: $breakpoint - 1) {
    @content;
  }
}
@mixin only($breakpoint) {
  @if($breakpoint==$xsmall){$breakpointnext:$small}
  @if($breakpoint==$small){$breakpointnext:$medium}
  @if($breakpoint==$medium){$breakpointnext:$large}
  @if($breakpoint==$large){$breakpointnext:$xlarge}
  @media screen and (min-width: $breakpoint) and (max-width: $breakpointnext - 1) {
    @content;
  }
}
@mixin between($lower, $upper) {
  @include up($lower) {
    @include down($upper - 1) {
      @content;
    }
  }
}
@mixin large_up() {
  @include up($large) {
    @content;
  }
}
@mixin large_down() {
  @include down($large) {
    @content;
  }
}
@mixin medium_up() {
  @include up($medium) {
    @content;
  }
}
@mixin medium_down() {
  @include down($medium) {
    @content;
  }
}
@mixin small_up() {
  @include up($small) {
    @content;
  }
}
@mixin small_down() {
  @include down($small) {
    @content;
  }
}